<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyKey"
 connectionString="Data Source = localhost\ADM; Initial Catalog =fileToUpload; Integrated Security = SSPI;"
             providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="server" value=".\JOJO" />
    <add key="database" value="fileToUpload" />
  </appSettings>
</configuration>





<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>-->
