<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${basedir}/logs/ExcelFileDataValidationApp.BasicValidation_${cached:${date:format=yyyyMMdd_HHmmss}}.log"
            />
    <!--fileName="ExcelFileDataValidationApp.BasicValidation_20191106_141956.log" deleteOldFileOnStartup="true"/>-->
    <!--<target name="logfile" xsi:type="File" fileName="file.txt" archiveOldFileOnStartup="true" deleteOldFileOnStartup="true"/>-->
    <!--<target name="logconsole" xsi:type="Console" />-->
    <!--<target name="logconsole" xsi:type="ColoredConsole" />-->
    <target name="logconsole" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}|${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>
